<body>
  <form>
    <div class="form-group">
      <br />
      <h3>
        <small class="text-muted">Exemption Category</small>
      </h3>

      <select multiple="" class="form-control" id="exemptionCategory">
        <option>Regulated Entity</option>
        <option>Publicly Traded</option>
        <option>Foreign Entities</option>
        <option>Additional exemptions</option>
        <option>Sole Proprietorships</option>
      </select>
    </div>
    <br />
    <div class="form-group">
      <!--<label for="category">Exemption SubCategory</label>
      <h5>Exemption SubCategory</h5>-->
      <h3>
        <small class="text-muted">Exemption Category</small>
      </h3>
      <select multiple="" class="form-control" id="exemptionSubCategory">
        <option>Financial Institution</option>
        <option>Investment Company or Advisor*</option>
        <option>Foreign Entities</option>
        <option>Exchange or Clearing Agency*</option>
        <option>State Regulated Insurance Company</option>
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</body>
