<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" routerLink="search">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="create">Customer Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="treeview">Customer Tree View Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="exemption">Exemption Selection</a>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>

